html {
    font: 15pt Arial;
}
body {
    background: url("hilp25Pagina.png") no-repeat top center fixed;
    background-size: 1370px 680px;
}

div::before {
    content: " Curso de PHP para Iniciantes ";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

div {
    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}
.botao{
    border: 1px solid #7e050c;
    background: #7e050c;
    font: bolder;
    color: #ffffff;
    margin: 8px;
    padding: 5px;
}
.botao:hover{
    background: brown;
    color: #ccccff;
}
.volta{
    border: 1px solid #ffcc00;
    background: #ffcc00;
    font: bolder;
    color: black;
    margin: 8px;
    padding: 5px;
}
.volta:hover{
    background: #ffffff;
    color: #273747;
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}
